@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: "palt";
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading), var(--font-body), sans-serif;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
